.ImgWrap {
    display: flex;
    justify-content: center;
}

.ImgWrap img {
    width: 200px;
    height: 200px;
    border-radius: 600px;
    object-fit: cover;
}

.Profile {

}

.Profile ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
}